<mat-toolbar class="header">{{title}}
  <button mat-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>

</mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" opened class="sidenav">
      <section class="sidenav-controls-wrapper">
        <a mat-list-item routerLink="/home" class="sidenav-button" routerLinkActive="active-route">
          <mat-icon>home</mat-icon>
          <span class="sidenav-button-title">Dashboard</span>
        </a>
        <a mat-list-item routerLink="/news" class="sidenav-button" [routerLinkActive]="['active-route']">
          <mat-icon>article</mat-icon>
          <span class="sidenav-button-title">News</span>
        </a>
        <a mat-list-item routerLink="/settings" class="sidenav-button" [routerLinkActive]="['active-route']">
          <mat-icon>settings</mat-icon>
          <span class="sidenav-button-title">Settings</span>
        </a>
      </section>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <mat-toolbar class="footer">Footer</mat-toolbar>
