.sidenav-container {
  position: absolute;
  top: 60px;
  bottom: 60px;
  left: 0;
  right: 0;
}

.sidenav {
  width: 200px;
}

.sidenav-controls-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sidenav-button {
  display: flex;
  text-decoration: none;
  color: white;
  padding: 1em;
  width: 80%;
}

.sidenav-button:hover {
  background-color: #ffffff12;
}

.sidenav-button-title {
  padding-left: 7px;
  padding-top: 5px;
  font-size: 16px;
}

.active-route {
  background-color: rgba(233,30,99,.15);
  color: #f492b4;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #e91e63;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #e91e63;
}
